# .env.example — Rename this to .env and fill values
# NEVER upload .env to GitHub

API_ID=your_api_id_here
API_HASH=your_api_hash_here
BOT_TOKEN=your_bot_token_here
OWNER_ID=your_user_id_here
MONGO_DB=your_mongodb_uri_here
LOG_GROUP=-100xxxxxxxxxx
CHANNEL_ID=-100xxxxxxxxxx
STRING=your_session_string_here
DEFAULT_SESSION=

FREEMIUM_LIMIT=50
PREMIUM_LIMIT=1000
WEBSITE_URL=shrinkforearn.in
AD_API=your_ad_api_here

# Cookies — paste karo .env me, config.py me nahi
YT_COOKIES=VISITOR_INFO1_LIVE=xxx; SID=xxx...
INSTA_COOKIES=datr=xxx; sessionid=xxx...
